NEXT_PUBLIC_APOLLO_CLIENT_ENDPOINT="https://dev-app.gkboptical.com/graphql"
NEXT_PUBLIC_PAYTM_HOST="https://securestage.paytmpayments.com"
NEXT_PUBLIC_PAYTM_TXN_URL="https://securegw-stage.paytm.in/theia/processTransaction"